.carousel-wrapper {
    position: relative;
    width: 100%;

}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    position: relative;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    z-index: 1500;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.arrow-left img,
.arrow-right img {
    width: 24px;
}

.arrow-left {
    left: -50px;
}

.arrow-right {
    right: -50px;
}

button {
    font-size: 20px;
    background: none;
    border: none;
}

@media only screen and (max-width: 1280px) {

    .arrow-left img,
    .arrow-right img {

        background-color: rgba(169, 169, 169, 0.5);
        width: 50px;
        height: 50px;
        z-index: 9999;
        top: calc(50% - 25px);
    }

    .arrow-left,
    .arrow-left img {
        left: 0px;
    }

    .arrow-right,
    .arrow-right img {
        left: auto;
    }

}